/* App.css */

body {
  font-family: Arial, sans-serif;
}

/* Style the tabs */
.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.tabs li {
  padding: 15px;
  cursor: pointer;
}

.tabs li:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the notifications */
/* BloodStock.css */

.notification {
  color: red;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

